<a href="https://colab.research.google.com/github/udothemath/ncku_customer_embedding/blob/main/WenMing/0_sample_file_by_chid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook is used for data preprocessing and sampling

In [ ]:
# Just Commit Version
# 如果有使用 coloab 再執行此 cell
from google.colab import drive
drive.mount('/gdrive')
!ln -s /gdrive/MyDrive/colab/NCKU_embedding/data/ ./data

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
ln: failed to create symbolic link './data/data': File exists

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
from time import time
import pandas as pd
import numpy as np
import os
import random
from tqdm.notebook import tqdm
import datetime

In [ ]:
data_path = './data'
cdtx_path = 'raw/zip_if_cca_cdtx0001_hist'
y_path = 'raw/zip_if_cca_y'
cust_f_path = 'raw/zip_if_cca_cust_f'
stonc_tag_f_path = 'raw/zip_if_cca_stonc_tag_features'

mcc_feature_path ='raw/if_cca_cdtx_group_by/'

child_file = 'sample_chid.txt'
cdtx_file = 'pickle_if_cca_cdtx0001_hist_{:04d}.pkl'
y_file = 'pickle_if_cca_y_{:04d}.pkl'
cust_f_file = 'pickle_if_cca_cust_f_{:04d}.pkl'
stonc_tag_f_file = 'pickle_if_cca_stonc_tag_features_0000.pkl'

## 進行資料篩選
* 隨機抽取了三個檔案 pickle_if_cca_cdtx0001_hist_0008～10.pkl
* 篩選日期為小於 2019/1/1

In [ ]:
!wc -l data/raw/zip_if_cca_cdtx0001_hist/pickle_if_cca_cdtx0001_hist_0010.pkl
!wc -l data/raw/zip_if_cca_cdtx0001_hist/pickle_if_cca_cdtx0001_hist_0009.pkl
!wc -l data/raw/zip_if_cca_cdtx0001_hist/pickle_if_cca_cdtx0001_hist_0008.pkl

In [ ]:
data1 = np.load(f'data/raw/zip_if_cca_cdtx0001_hist/pickle_if_cca_cdtx0001_hist_0008.pkl',  allow_pickle=True)
data1 = data1[data1.csmdt < datetime.date(2019, 1, 1)]
chids = set(data1.chid.unique())
del data1

In [ ]:
data2 = np.load(f'data/raw/zip_if_cca_cdtx0001_hist/pickle_if_cca_cdtx0001_hist_0009.pkl',  allow_pickle=True)
data2 = data2[data2.csmdt < datetime.date(2019, 1, 1)]
chids.update(data2.chid.unique())
del data2

In [ ]:
data3 = np.load(f'data/raw/zip_if_cca_cdtx0001_hist/pickle_if_cca_cdtx0001_hist_0010.pkl',  allow_pickle=True)
data3 = data3[data3.csmdt < datetime.date(2019, 1, 1)]
chids.update(data3.chid.unique())
del data3

## 產生所有不重複的 chid (customer ID)
* 並產出 customer id list File : './data/sample_50k/sample_chid.txt'

In [ ]:
chids = np.array(list(chids))

In [ ]:
random.seed(1012+4028+4036)
sample_chids = random.sample(list(chids), k = 50000)
with open(os.path.join(data_path, 'sample_50k', child_file), 'w') as f:
    for i in sample_chids:
        f.write(i+'\n')

## Produce the mapping table that serial number -> chid

In [ ]:
idx_map = {}
for i,j in enumerate(sample_chids):
    idx_map[j] = i

In [ ]:
np.save(os.path.join(data_path, 'sample_50k/sample_idx_map'), idx_map)

## Load White List

In [ ]:
chid_arary = np.loadtxt(os.path.join(data_path, 'sample_50k', child_file), dtype=np.str)
len(set(chid_arary))

50000

## Counting the total loading time and extrac transation log by chid list 
* this is used for counting the toal time that load whole zip_if_cca_cdtx0001_hist data 
* suffule all pickle file and filtering by chid list

In [ ]:
cdtx_list = []

t = time()
for i in range(0, 30):
    print('In',  cdtx_file.format(i))
    
    t0 = time()
    
    df_cdtx = pd.read_pickle(os.path.join(data_path, cdtx_path, cdtx_file.format(i)))
    t1 = time()
    
    print('\t Load file cost', t1 - t0)
    
    mask = df_cdtx.chid.isin(chid_arary)
    t2 = time()
    
    print('\t Find mask cost', t2 - t1)
    
    cdtx_list.append(df_cdtx.values[:][mask])
    t3 = time()
    
    print('\t One file total cost', t3 - t0, '\n')
    
columns = df_cdtx.columns
print('Whole files total cost', t3 - t)

In [ ]:
sample_df_cdtx = pd.DataFrame(np.concatenate(cdtx_list, axis=0), columns=df_cdtx.columns)
sample_df_cdtx = sample_df_cdtx.sort_values(by=['csmdt', 'chid', 'mcc']).reset_index(drop=True)
sample_df_cdtx.shape

In [ ]:
len(sample_df_cdtx.chid.unique()), len(sample_df_cdtx.csmdt.unique()), len(sample_df_cdtx.mcc.unique())

In [ ]:
sample_df_cdtx.to_csv(os.path.join(data_path, 'sample_50k', 'sample_zip_if_cca_cdtx0001_hist.csv'), index=False, encoding='utf-8')

In [ ]:
!head -n 3 ./data/sample_50k/sample_zip_if_cca_cdtx0001_hist.csv

In [ ]:
del sample_df_cdtx

In [ ]:
del cdtx_list

In [ ]:
del df_cdtx
del mask

## 對學習目標資料檔進行整理 zip_if_cca_y

In [ ]:
y_list = []

t = time()
for i in range(0, 13):
    print('In',  y_file.format(i))
    
    t0 = time()
    
    df_y = pd.read_pickle(os.path.join(data_path, y_path, y_file.format(i)))
    t1 = time()
    
    print('\t Load file cost', t1 - t0)
    
    mask = df_y.chid.isin(chid_arary)
    t2 = time()
    
    print('\t Find mask cost', t2 - t1)
    
    y_list.append(df_y.values[:][mask])
    t3 = time()
    
    print('\t One file total cost', t3 - t0, '\n')
    
columns = df_y.columns
print('Whole files total cost', t3 - t)

In [ ]:
sample_df_y = pd.DataFrame(np.concatenate(y_list, axis=0), columns=df_y.columns)
sample_df_y = sample_df_y.sort_values(by=['data_dt', 'chid', 'stonc_tag']).reset_index(drop=True)
sample_df_y.shape

In [ ]:
len(sample_df_y.chid.unique()), len(sample_df_y.data_dt.unique()), len(sample_df_y.stonc_tag.unique())

In [ ]:
sample_df_y.to_csv(os.path.join(data_path, 'sample_50k', 'sample_zip_if_cca_y.csv'), index=False, encoding='utf-8')

### the objective data include below column
* date_dt: the transaction's date
* chid: user's id
* stonc_tg: merchant category
* y: the amount of consumption

In [ ]:
!head -n 5 ./data/sample_50k/sample_zip_if_cca_y.csv

## 根據抽樣過後的 chid list 取出相對的使用者 Profile

In [ ]:
pd.read_pickle(os.path.join(data_path, cust_f_path, cust_f_file.format(0))).head(3)

In [ ]:
cust_f_list = []

t = time()
for i in range(0, 94):
    print('In',  cust_f_file.format(i))
    
    t0 = time()
    
    df_cust_f = pd.read_pickle(os.path.join(data_path, cust_f_path, cust_f_file.format(i)))
    t1 = time()
    
    print('\t Load file cost', t1 - t0)
    
    mask = df_cust_f.chid.isin(chid_arary)
    t2 = time()
    
    print('\t Find mask cost', t2 - t1)
    
    cust_f_list.append(df_cust_f.values[:][mask])
    t3 = time()
    
    print('\t One file total cost', t3 - t0, '\n')
    
columns = df_cust_f.columns
print('Whole files total cost', t3 - t)

In [ ]:
cust_f_list

In [ ]:
sample_df_cust_f = pd.DataFrame(np.concatenate(cust_f_list, axis=0), columns=df_cust_f.columns)
sample_df_cust_f = sample_df_cust_f.sort_values(by=['chid', 'data_ym', 'data_dt']).reset_index(drop=True)
sample_df_cust_f.shape

In [ ]:
len(sample_df_cust_f.chid.unique()), len(sample_df_cust_f.data_ym.unique()), len(sample_df_cust_f.data_dt.unique())

In [ ]:
sample_df_cust_f.to_csv(os.path.join(data_path, 'sample_50k', 'sample_zip_if_cca_cust_f.csv'), index=False, encoding='utf-8')

In [ ]:
!head -n 3 ./data/sample_50k/sample_zip_if_cca_cust_f.csv

## 對 MCC Feature
資料原始的 sql 如下 
``` sql
SELECT chid, mcc, year, month, 
countif(dayofweek=1)/count(objam) as dow1,
countif(dayofweek=2)/count(objam) as dow2,
countif(dayofweek=3)/count(objam) as dow3,
countif(dayofweek=4)/count(objam) as dow4,
countif(dayofweek=5)/count(objam) as dow5,
countif(dayofweek=6)/count(objam) as dow6,
countif(dayofweek=7)/count(objam) as dow7,
sum(objam) as sum_objam, avg(objam) as avg_objam, count(objam) as count_objam
FROM `neat-motif-123006.crd.if_cca_cdtx_view` group by  chid, year, month, mcc
```

In [ ]:
import os
df_mcc_list = []
for p in os.listdir(os.path.join(data_path, mcc_feature_path)):
    print('In',  p)


    t0 = time()
    
    df_mcc = pd.read_csv(os.path.join(os.path.join(data_path, mcc_feature_path,p)))

    t1 = time()
    
    print('\t Load file cost', t1 - t0)
    
    mask = df_mcc.chid.isin(chid_arary)
    t2 = time()
    
    print('\t Find mask cost', t2 - t1)
    
    df_mcc_list.append(df_mcc.values[:][mask])
    t3 = time()
    
    print('\t One file total cost', t3 - t0, '\n')

In if_cca_cdtx_group_by_000000000000.csv
	 Load file cost 14.4201979637146
	 Find mask cost 2.1580440998077393
	 One file total cost 23.141867876052856

In if_cca_cdtx_group_by_000000000001.csv
	 Load file cost 24.708451509475708
	 Find mask cost 2.2560203075408936
	 One file total cost 31.204665660858154

In if_cca_cdtx_group_by_000000000002.csv
	 Load file cost 18.46385407447815
	 Find mask cost 2.14729380607605
	 One file total cost 24.077491760253906

In if_cca_cdtx_group_by_000000000004.csv
	 Load file cost 17.353042364120483
	 Find mask cost 2.215131998062134
	 One file total cost 23.717532634735107

In if_cca_cdtx_group_by_000000000003.csv
	 Load file cost 16.34816598892212
	 Find mask cost 2.415743827819824
	 One file total cost 22.757824659347534

In if_cca_cdtx_group_by_000000000005.csv
	 Load file cost 18.26445984840393
	 Find mask cost 2.8342251777648926
	 One file total cost 25.393646955490112

In if_cca_cdtx_group_by_000000000007.csv
	 Load file cost 16.583141088485718
	 Find mask cost 2.4390103816986084
	 One file total cost 22.938711166381836

In if_cca_cdtx_group_by_000000000006.csv
	 Load file cost 18.47635531425476
	 Find mask cost 2.592177152633667
	 One file total cost 25.431196689605713

In if_cca_cdtx_group_by_000000000008.csv
	 Load file cost 16.11270046234131
	 Find mask cost 2.555757761001587
	 One file total cost 23.424256324768066

In if_cca_cdtx_group_by_000000000010.csv
	 Load file cost 21.048072814941406
	 Find mask cost 2.847064733505249
	 One file total cost 28.51301670074463

In if_cca_cdtx_group_by_000000000009.csv
	 Load file cost 19.7435884475708
	 Find mask cost 2.4620521068573
	 One file total cost 26.29812479019165

In if_cca_cdtx_group_by_000000000011.csv
	 Load file cost 17.79871392250061
	 Find mask cost 2.2988855838775635
	 One file total cost 24.493860006332397

In if_cca_cdtx_group_by_000000000012.csv
	 Load file cost 19.318845748901367
	 Find mask cost 2.799600124359131
	 One file total cost 26.017065286636353

In if_cca_cdtx_group_by_000000000014.csv
	 Load file cost 17.310497999191284
	 Find mask cost 2.3260598182678223
	 One file total cost 23.835923194885254

In if_cca_cdtx_group_by_000000000013.csv
	 Load file cost 17.760270595550537
	 Find mask cost 2.440927267074585
	 One file total cost 24.58660578727722

In if_cca_cdtx_group_by_000000000015.csv
	 Load file cost 17.09990668296814
	 Find mask cost 2.9182372093200684
	 One file total cost 25.234549283981323

In if_cca_cdtx_group_by_000000000017.csv
	 Load file cost 19.011188745498657
	 Find mask cost 2.7573046684265137
	 One file total cost 26.345115661621094

In if_cca_cdtx_group_by_000000000016.csv
	 Load file cost 16.866119384765625
	 Find mask cost 2.528325319290161
	 One file total cost 24.248943328857422

In [ ]:
df_mcc.head(2)

                       chid   mcc  year  ...  sum_objam  avg_objam  count_objam
0  e6AUEsbC+4lA9PlonTRsBA==  8999  2019  ...       7712     7712.0            1
1  f+ilq6WC96mhcjn2fF47KA==  4722  2020  ...     121940   121940.0            1

[2 rows x 14 columns]

In [ ]:
sample_df_mcc = pd.DataFrame(np.concatenate(df_mcc_list, axis=0), columns=df_mcc.columns)
sample_df_mcc = sample_df_mcc.sort_values(by=['chid', 'year', 'month']).reset_index(drop=True)
sample_df_mcc.shape

(3248802, 14)

In [ ]:
sample_df_mcc.head(2)

                       chid   mcc  year  ... sum_objam avg_objam count_objam
0  ++Huqpxe3/XNAVyL1cp9fA==  5411  2018  ...      2928      2928           1
1  ++Huqpxe3/XNAVyL1cp9fA==  ICH5  2018  ...      2600      2600           1

[2 rows x 14 columns]

In [ ]:
sample_df_mcc.to_csv(os.path.join(data_path, 'sample_50k', 'sample_if_cca_cdtx_group_by_mcc.csv'), index=False, encoding='utf-8')